*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-margin: 0;
   }
.header{
    min-height: 100vh;
    width:100%;
    position: relative;
}
h1{
    font-size: 40pt;
}
#about-header::before,
#about-header::after {
  position: absolute;
  width: 100px;
  height: 75px;
  content: "";
}
#about-header::before {
    left: 37%;
    top: 2%;
    border-left: 10px solid lightskyblue;
    border-top: 8px solid lightskyblue;
}
#about-header::after {
    right: 37%;
    bottom: 87%;
    border-right: 10px solid lightskyblue;
    border-bottom: 8px solid lightskyblue;
   }
#project-header::before,
#project-header::after {
    position: absolute;
    width: 100px;
    height: 75px;
    content: "";
}
#project-header::before {
    left: 32%;
    top: 2%;
    border-left: 10px solid rgb(213, 135, 27);
    border-top: 8px solid rgb(213, 135, 27);
}
#project-header::after {
    right: 32%;
    bottom: 82%;
    border-right: 10px solid rgb(213, 135, 27);
    border-bottom: 8px solid rgb(213, 135, 27);
    }
#contact-header::before,
#contact-header::after {
    position: absolute;
    width: 100px;
    height: 75px;
    content: "";
}
#contact-header::before {
    left: 39%;
    top: 2%;
    border-left: 10px solid lightskyblue;
    border-top: 8px solid lightskyblue;
}
#contact-header::after {
    right: 39%;
    bottom: 86%;
    border-right: 10px solid lightskyblue;
    border-bottom: 8px solid lightskyblue;
    }
/*----- Nav bar -----*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: lightskyblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(213, 135, 27);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
    font-weight: bold;
}

.text-box{
    float: right;
    width: 50%;
    color: lightskyblue;
    position: absolute;
    top: 25%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    text-align: center;
}
.text-box::before,
.text-box::after {
  position: absolute;
  width: 100px;
  height: 75px;
  content: "";
}
.text-box::before {
    left: 20px;
    top: -20px;
    border-left: 10px solid rgb(213, 135, 27);
    border-top: 10px solid rgb(213, 135, 27);
}
.text-box::after {
    right: 10px;
    bottom: 80px;
    border-right: 10px solid rgb(213, 135, 27);
    border-bottom: 10px solid rgb(213, 135, 27);
   }
.text-box h1{
    font-size: 62px;
    color: lightskyblue;
}
.text-box p{
    font-size: 15px;
    color: rgb(213, 135, 27);
}
#awkward{
    font-size: 10px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: lightskyblue;
    border: 3px solid lightskyblue;
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    position: relative;
    padding: 5px;
    font-weight: bold;
}
.hero-btn:hover{
    /* border: 3px solid rgb(213, 135, 27); */
    background-color: lightskyblue;
    color: white;
    /* text-shadow: 0 0 10px lightskyblue); */
    transition: 1s;
}

/* -------- About Me ------- */
#about-section {
    /* margin-top: 50%; */
    /* padding-bottom: 25%; */
    background-color: rgb(213, 135, 27, 0.5);
   }
.about-me{
    position: absolute;
    width: 100%;
    /* height: 120%; */
    margin:auto;
    text-align: center;
    padding-top: 30px;
}
#resume{
    color: white;
    text-decoration: none;
}
ul {
    list-style-position: inside;
    text-align: left;
    /* margin-left: 20%; */
 }
#skills{
    margin-left: 10%;
}
#sub-skills{
    margin-left: 10%;
}
.row{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.about-col {
    float: left;
    max-block-size: max-content;
    /* height: 580px; */
    border: 5px solid white;
    border-radius: 5%;
    padding: 10px 10px;
    margin: 10px;
  }
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* #progress {
    position: relative;
    margin-bottom: 30px;   
}

#progress-bar {
    position: absolute;
    background: lightseagreen;
    height: 5px;
    width: 0%;
    top: 60%;
    left: 0;
}

#progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#progress-num .step {
    border: 3px solid lightskyblue;
    border-radius: 90%;
    margin: auto;
    width: 40px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14px;    
    position: relative;
    z-index: 1;
} */

#stepProgressBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .step {
    text-align: center;
    width: 20%;
    position: relative;
  }
  
  .step-text {
    margin-bottom: 10px;
    color: #000;
  }
  
  .bullet {
    /* border: 1px solid #000; */
    border: 3px solid lightskyblue;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    position: relative;
    /* height: 20px;
    width: 20px;
    color: #000; */
    display: inline-block;
    transition: background-color 500ms;
    line-height: 25px;
  }
  
  .bullet.completed {
    color: white;
    background-color: #000;
  }
  
  .bullet.completed::after {
    content: '';
    position: absolute;
    bottom: 10px;
    height: 1px;
    width: calc(133% - 21px);
    background-color: #000;
    margin-left: 7px;  
  }
  
  .hidden {
    display: none;
  }

  button {
    padding: 5px 10px;
    margin: 20px;
    border: 3px solid lightskyblue;
    border-radius: 20%;
    transition: 500ms background-color;
  }
  
  button:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
  }
  
  button:disabled:hover {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
  }
/* -------- Projects ------- */
#projects-section {
    margin-top: 70%;
}
.projects{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    margin:auto;
    padding-top: 30px;
    text-align: center;
}
#project-langs{
    font-size: 15px;
}
#project-desc{
    font-size: 14px;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 3rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
  
.column {
    position: relative;
    font-size: 20px;
    /* float: left;
    max-block-size: max-content;
    padding: 10px 10px; 
    transition: 1s; */
}

.column img {
    max-width: 100%;
    width: 550px;
    max-height: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid rgb(213, 135, 27);
    transition: 0.5s;
}
/* Clear floats after the columns */
/* .row:after {
content: "";
display: table;
clear: both;
} */

.drop-text {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in;
}

.column img:hover {
    box-shadow: 0 0 20px rgb(213, 135, 27);
}

.column:hover .drop-text{
    visibility: visible;
    opacity: 1;
}
/* -------- Contact me ------- */
#contact-section {
    margin-top: 150%;
    /* padding-bottom: 25%; */
    /* background-color: rgb(213, 135, 27, 0.5); */
   }
.contact-me{
    position: absolute;
    width: 100%;
    height: 100%;
    margin:auto;
    padding-top: 30px;
    text-align: center;
    /* padding-top: 100px; */
    background-color: rgb(135, 206, 250, 0.5);
    /* bottom: 30px; */
}
label { 
    float: left;
    display:inline; 
    }
input[type=text], select, textarea {
  width: 100%;
  padding: 13px;
  border: 3px solid rgb(213, 135, 27);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
#contact-form{
    border: 3px dashed black;
    z-index: 4;
}
/* input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* input[type=submit]:hover {
  background-color: #45a049;
} */

.container {
  border-radius: 5px;
  text-align: center;
  /* background-color: lightskyblue; */
  padding: 20px;
}

#btnSubmit{
    position: relative;
    background-color: rgb(213, 135, 27);
    border: none;
    color: white;
    opacity: 0.75;
    padding: 10px 32px;
    text-align: center;
    border-radius: 5%;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 18px;
    margin: -8px 0px;
    cursor: pointer;
    transition: 0.3s;
  }
  #btnSubmit:hover{
      opacity: 1;
  }

/* -------- Footer ---------- */
.footer{
    position:fixed;
    text-align: center;
    color: white;
    padding: 10px 0;
    left:0px;
    bottom:5px;
    height:80px;
    width:100%;
    background: lightskyblue;
 }
 .icons .fa{
     color: rgb(213, 135, 27);
     border: 2px solid rgb(213, 135, 27);
     border-radius: 50%;
     text-align: center;
     width: 1.5em;
     margin: 0 10px;
     cursor: pointer;
     padding: 5px 0;
     display: inline-block;
     font-size: 25px;
     transition: 0.1s;
 }

.fa-github:hover{
    transform: translateY(-3px);
}
.fa-linkedin:hover{
    transform: translateY(-3px);
}

#my-loc{
    color: white;
    /* display: none; */
    position: absolute;
    max-width: 0%;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
  }
.fa-map-marker:hover ~ #my-loc{
    /* display: inline-block; */
    max-width: 100%;
}
.icons{
    position: relative;
    text-align: center;
}
#arrow{
    /* border: 3px solid red; */
    position:absolute;
    text-align: left;
    /* margin: auto; */
    margin-left: 15px;
    margin-top: 5px;
    z-index: 10;
}
#arrow:hover{
    cursor: pointer;
    text-shadow: 0 0 10px white;
}
#to-top{
    color: white;
}
