<!DOCTYPE html>
<html>
    <!-- use this for stepper bar reference: https://w3collective.com/responsive-step-progress-bar/ -->
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="icon" href="data:,">
    <link rel="shortcut icon" href="#">
    <title> Tegan's personal website</title>
    <!-- <link rel="stylesheet" href="../style/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='./style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body>
<section id="home" class="header">
    <nav>
        <a href="index.html"></a>
        <div class="nav-links" id="navLinks">
            <ul>
                <li><a href="">&lt/HOME&gt</a></li>
                <li><a href="#about-section">&lt/ABOUT ME&gt</a></li>
                <li><a href="#projects-section">&lt/PROJECTS&gt</a></li>
                <li><a href="#contact-section">&lt/CONTACT ME&gt</a></li>
            </ul>
        </div>
    </nav>

<div class="text-box">
    <h1>
        Hi, I'm Tegan 👋🏼
        <br> 
        Nice to meet you
    </h1>
    <br>
    <p id="awkward">And just so it's not awkward...</p>
    <a href="#contact-section" class="hero-btn">introduce yourself</a>
    <p id="awkward">I'd love to hear from you!</p>
</div>
</section>

<!-- --------- About Me --------- -->
<section id="about-section" class="about-me">
    <h1 id="about-header">About me</h1>
    <div class="container">
        <div id="stepProgressBar">
          <div class="step grey">
            <p class="step-text">Undergrad @ Arizona State University</p>
            <div class="bullet">2014-2018</div>
          </div>
          <div class="step grey">
            <p class="step-text">Grad School @ The University of Chicago</p>
            <div class="bullet">2019-2021</div>
          </div>
          <div class="step grey">
            <p class="step-text">Data Scientist @ Eligo Energy</p>
            <div class="bullet">2021-2022</div>
          </div>
          <div class="step grey">
            <p class="step-text">Data Engineer @ Steppingblocks</p>
            <div class="bullet ">present</div>
          </div>
        </div>
        <div id="main">
          <button id="previousBtn" class="hidden">prev</button>
          <button id="nextBtn">next</button>
          <!-- <button id="finishBtn" class="hidden">finish</button> -->
        </div>
      </div>
    <!-- <div id="progress">
        <div id="progress-bar"></div>
        <ul id="progress-num" class="progressbar">
          <li class="step">Undergrad @ Arizona State University</li>
          <li class="step">Grad School @ The University of Chicago</li>
          <li class="step">Data Scientist @ Eligo Energy</li>
          <li class="step">Data Engineer @ Steppingblocks</li>
        </ul>
    </div> -->
    <div class="row">
        <div class="about-col" style="font-size: 25px;">
            <h3>WHAT I DO</h3>
            <hr style="height:10px; visibility:hidden;" />
            <p style="font-size: 18px;">
                I like data. I especially like it packaged nicely in an intuitive and visually appealing form.
                So, I work to do just that. I specialize in creating full-stack data applications 
                to help you get the most out of your data!
            </p>
        </div>
        <div class="about-col" style="font-size: 25px;">
            <h3>WHAT I USE</h3>
            <hr style="height:10px; visibility:hidden;" />
            <div id="skills" style="font-size: 18px;">
                <ul>
                    <li>
                        Python Data Analysis & Modeling
                        <ul id="sub-skills">
                            <li>numpy, pandas, scipy, scikit-learn</li>
                            <li>jupyter notebook</li>
                        </ul>
                    </li>
                    <li>
                        Python Visualization
                        <ul id="sub-skills">
                            <li>Streamlit</li>
                            <li>matplotlib, plotly, seaborn</li>
                        </ul>
                    </li>
                    <li>
                        Python Web Framework
                        <ul id="sub-skills">
                            <li>SQL Alchemy</li>
                            <li>FastAPI, Flask</li>
                        </ul>
                    </li>
                    <li>PostgreSQL/MySQL</li>
                    <li>
                        AWS
                        <ul id="sub-skills">
                            <li>EC2, S3, Glue, Athena</li>
                        </ul>
                    </li>
                    <li>html/css/js (bootstrap)</li>
                    <li>Bash scripting</li>
                  </ul>
            </div>
        </div>
        <div class="about-col" style="font-size: 25px;">
            <h3>MY RESUME</h3>
            <hr style="height:10px; visibility:hidden;" />
            <a id="resume" href="./static/images/Marianchuk_resume_2022.pdf" target="_blank" download>
            <img src="{{ url_for('static', path='./images/resume_img.png')}}" alt="responsive image" width="250" height="350">
                <!-- <img src="../images/resume_img.png" alt="resume" width="250" height="350"> -->
                <br> <span >Click to download</span>
            </a>
        </div>
    </div>
</section>

<!-- --------- Projects --------- -->
<section id="projects-section" class="projects">
    <h1 id="project-header">Project Portfolio</h1>

    <div class="portfolio-content">
    <!-- <div class="row"> -->
        <div class="column">
            <h4>API | SPA | DATABASE MANAGEMENT</h4>
            <p id="project-langs">python &middot MySQL &middot html &middot css &middot js</p>
            <br>
            <a href="https://github.com/teganmar/bkshlf" target="_blank">
                <img src="{{ url_for('static', path='./images/bkshlf_img.png')}}" alt="responsive image">
                <!-- <img src="./static/images/bkshlf_img.png" alt="" width="425" height="300"> -->
            </a>
            <br>
            <div class="drop-text">
            <p id="project-desc">
                A digital bookshelf to house and document all your favorite paper worlds as a single page application.
            </p>
            </div>
        </div>

        <div class="column">
            <h4>DATA VISUALIZATION | DASHBOARDING</h4>
            <p id="project-langs">python's streamlit &middot MySQL</p>
            <br>
            <a href="https://github.com/teganmar/spotify-streamlit-dash" target="_blank">
                <img src="{{ url_for('static', path='./images/spotify_app_dailies.png')}}" alt="responsive image">
                <!-- <img src="./static/images/spotify_app_dailies.png" alt="" width="450" height="300"> -->
            </a>
            <br>
            <div class="drop-text">
            <p id="project-desc">
                Dashboard that tracks and visualizes your "Spotify wrapped" style listening stats and creates personalized playlists.
            </p>
            </div>
        </div>

        <div class="column">
            <h4>ML | API | BIG DATA | CLOUD COMPUTING</h4>
            <p id="project-langs">python &middot PostgreSQL &middot html &middot css &middot js</p>
            <br>
            <a href="https://github.com/teganmar/rieman-fastapi" target="_blank">
                <img src="{{ url_for('static', path='./images/rieman_img.png')}}" alt="responsive image">
                <!-- <img src="./static/images/rieman_img.png" alt="" width="425" height="300"> -->
            </a>
            <br>
            <div class="drop-text">
            <p id="project-desc">
                Machine learning model that forecasts customer retention and lifetime value deployed as a RestAPI.
            </p>
            </div>
        </div>

    <!-- </div> -->
    </div>
</section>

<!-- --------- Contact Me --------- -->
<section id="contact-section" class="contact-me">
<div contact-form>
    <h1 id="contact-header">Say hi!</h1>
    <div class="container">
        <form id="contactForm" class="form-container" enctype="multipart/form-data">
      
          <label for="name">Your Name</label>
          <input type="text" id="name" name="name" placeholder="My name is..." autocomplete="off">
      
          <label for="ema">Your Email Address</label>
          <input type="text" id="ema" name="ema" placeholder="For business inquiries..." autocomplete="off">
      
          <label for="msg">Message</label>
          <textarea type="text" id="msg" name="msg" placeholder="Something, anything at all..." style="height:250px"></textarea>
      
          <!-- having type as submit automatically sends the form as a GET request which we don't want -->
          <!-- <button id="btnSubmit" type="submit" class="btn" onclick="sendEmail()">Send</button> -->
          <button id="btnSubmit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Sending..." type="button" class="btn" onclick="sendEmail()">Send</button>
      
        </form>
    </div>
 </div>
</section>

<!-- --------- Footer --------- -->
<section class="footer">
    <div id="arrow">
        <a id="to-top" href="#home"><i class="fa fa-arrow-up fa-3x"></i></a>
    </div>
    <!-- <button onclick="topFunction()" id="myBtn" title="Scroll to top">Top</button> -->
    <!-- <h4>Find me online and irl:</h4>  -->
    <div class="icons">
        <h4>Find me online and irl:</h4>
        <a href="https://www.linkedin.com/in/tegan-m-82553390/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/tmarianchuk" target="_blank"><i class="fa fa-github"></i></a>
        <i class="fa fa-map-marker"></i> <span id="my-loc">Chicago, IL</span>
    </div>
</section>


</body>

</html>
<script>
    $('.btn').on('click', function() {
        var $this = $(this);
        $this.button('loading');
    });

    function sendEmail() {
        var contactForm = new FormData($('form#contactForm')[0]);
        var endpoint = '/email';
        var jsonformdat = Object.fromEntries(contactForm.entries());
        // console.log(jsonformdat);
        $.ajax({
                type: 'POST',
                url: endpoint,
                data: contactForm,
                cache: false,
                contentType: false, //THIS IS NECESSARY. WON'T WORK WITHOUT IT!! //"application/x-www-form-urlencoded", //"application/json",
                processData: false,
                success: function (data) {
                    console.log("Email sent!");
                    $('.btn').button('reset');
                    swal("Email sent", "Thanks for getting in touch!", "success");
                    document.getElementById("contactForm").reset();//clears the form
                },
                error: function() {
                    alert("error sending email")
                }
        });
    }

</script>